<div class="container pt-2">
  <h1>Merging example</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet ligula nec mauris fermentum, vel laoreet
    tortor porta. Phasellus pharetra vitae nibh id hendrerit. Nulla dictum in elit nec lacinia. Nunc sed cursus elit, in
    hendrerit libero. Donec eleifend sagittis placerat. Sed dapibus eros quis libero sollicitudin bibendum. Proin ut
    molestie quam. Donec consectetur laoreet nibh et eleifend. Donec ligula risus, bibendum non enim sed, commodo
    vehicula urna. Nunc malesuada tempus nisl, non congue risus dictum nec. Donec rhoncus, velit nec molestie consequat,
    sem mi elementum elit, ac bibendum metus orci finibus mi. Vestibulum at suscipit urna, non aliquet mi. Suspendisse
    fringilla consectetur mauris, in vehicula nunc posuere non.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet ligula nec mauris fermentum, vel laoreet
    tortor porta. Phasellus pharetra vitae nibh id hendrerit. Nulla dictum in elit nec lacinia. Nunc sed cursus elit, in
    hendrerit libero. Donec eleifend sagittis placerat. Sed dapibus eros quis libero sollicitudin bibendum. Proin ut
    molestie quam. Donec consectetur laoreet nibh et eleifend. Donec ligula risus, bibendum non enim sed, commodo
    vehicula urna. Nunc malesuada tempus nisl, non congue risus dictum nec. Donec rhoncus, velit nec molestie consequat,
    sem mi elementum elit, ac bibendum metus orci finibus mi. Vestibulum at suscipit urna, non aliquet mi. Suspendisse
    fringilla consectetur mauris, in vehicula nunc posuere non.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet ligula nec mauris fermentum, vel laoreet
      tortor porta. Phasellus pharetra vitae nibh id hendrerit. Nulla dictum in elit nec lacinia. Nunc sed cursus elit,
      in hendrerit libero. Donec eleifend sagittis placerat. Sed dapibus eros quis libero sollicitudin bibendum. Proin
      ut molestie quam. Donec consectetur laoreet nibh et eleifend. Donec ligula risus, bibendum non enim sed, commodo
      vehicula urna. Nunc malesuada tempus nisl, non congue risus dictum nec. Donec rhoncus, velit nec molestie
      consequat, sem mi elementum elit, ac bibendum metus orci finibus mi. Vestibulum at suscipit urna, non aliquet mi.
      Suspendisse fringilla consectetur mauris, in vehicula nunc posuere non.</p>
</div>
